/******************************
************Header*************
******************************/

div.menu-contact a span{
text-decoration: none;

}

.navbar-nav {
    margin-right: 50px;
}

header {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.12);


}
.navbar-light .navbar-nav .nav-link {
    margin: 0 22px;
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    color: #000;

}
.navbar-light .navbar-nav .nav-link:hover{
    color: #00AC4E;
}
nav {
    height: 100px;
}

.dropdown-toggle::after {
    display: none;
}

.menu-right .menu-contact{
    margin-right: 40px;
    align-items: center;
}
.menu-contact a {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
    color: #000;
    text-decoration: none;
    margin-left: 15px;
}


.menu-user a, .menu-user button{
    margin-left: 30px;

}
.menu-user button {
    background: none;
    border: none;
    padding: 0;
}

.dropdown-menu {
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
border-radius: 12px;
    border: none;
}

a.navbar-brand img{
    margin-right: 60px;
}

div.menu-user button img{
    display: inline-block;
    margin-right: 20px;
    margin-left: 40px;
}


/******************************
**********Home-banner**********
******************************/
div.home-banner {
    padding-top: 60px;
}
div.home-banner .block{

    height: 254px;
    position: relative;
    background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);

    overflow: hidden;
    background-size: auto 100%;
    box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
    border-radius: 18.0727px;
    width: 100%;

}

div.home-banner h2 {
    padding: 41px 0 0 41px;
    color: #333333;
    font-size: 31.6px;
    line-height: 38px;
     margin-bottom: 0px;
}

div.home-banner p {

    padding: 9px 0 0 41px;
   color: #828282;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
}

div.home-banner a {
   display: inline-block;
    margin: 43px 0 0 41px;
    padding: 11px 32px;
    background: #00AC4E;
    border-radius: 4.5px;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

div.home-banner img {
    position: absolute;
    top 0;
    right: 0;
}
section.home-banner {
    margin-bottom: 83px;
}


/******************************
*********Home-products*********
******************************/

section.home-products h3 {
    margin-bottom: 40px;
}

section.home-products div.products-wrapper {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
section.home-products div.product{
    width: 205px;
    margin-bottom: 56px;
}

section.home-products div.product-img {
    background-color:#E6E6E6;
    background-image: url(../img/product-back.png);
    overflow: hidden;
    border-radius: 4.52641px;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;

}
section.home-products div.product-img img  {
    width: 100%;
    height: 100%;
}
section.home-products div.row {
    flex-direction: column;
}

section.home-products a.product-tittle {
    margin-top: 9px;
    margin-bottom: 5.5px;
    font-size: 14.4845px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
}
section.home-products a.product-tittle:hover {
    text-decoration: none;
}

section.home-products p.product-description {
    font-family: TT Norms Pro;
    font-size: 12.674px;
    line-height: 19px;
    margin-bottom: 13px;
    font-weight: 400;
}
section.home-products div.rating span.active {
    display: inline-block;
    height: 13px;
    width: 13px;
    background-image: url(../img/greenstar.png);
}
section.home-products div.rating span {
    display: inline-block;
    height: 13px;
    width: 13px;
    background-image: url(../img/star.png);
}
section.home-products div.price b {
    font-family: TT Norms Pro;
    font-weight: 500;
    font-size: 18.1056px;
    line-height: 23px;
    margin-right: 18px;
}
section.home-products div.price span {
    font-family: TT Norms Pro;
    font-weight: normal;
    font-size: 12.674px;
    line-height: 23px;
    color: #828282;
}

section.home-products a.to-cart {
    display: inline-block;
    margin-top: 24px;
    padding: 9px 28px;
    background: #00AC4E;
    border-radius: 4.5px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

section.home-products div.pagination-block ul li a{
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border-radius: 5px;
    background-color: none;
    color: #000;
    border: 0px solid #fff;
    margin: 0 15px;

}
.page-item.active .page-link {

    background-color: #00AC4E;
    border-color: #00AC4E;
}
section.home-products div.pagination-block {
    display: flex;
    justify-content: center;
}


/******************************
***********Home-video**********
******************************/


section.home-video div.video1448 {
    width: 1448px;
    margin: 0 auto;
    background-image: url(../img/videobg.png);
    background-size: cover;
}


/******************************
***********Delivery************
******************************/

section.delivery div.delivery {
    margin-top: 60px;
    margin-bottom: 60px;
}
section.delivery div.delivery .block{

    height: 254px;
    position: relative;
    background:  #F2F2F2;

    overflow: hidden;
    background-size: auto 100%;
    box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
    border-radius: 18.0727px;
    width: 100%;

}

section.delivery div.delivery h4 {
    padding: 32px 0 0 41px;
    color: #333333;
    font-size: 31.6px;
    line-height: 38px;
     margin-bottom: 0px;
    max-width: 530px;
}


section.delivery div.delivery a {
   display: inline-block;
    margin: 43px 0 0 41px;
    padding: 11px 32px;
    background: #00AC4E;
    border-radius: 4.5px;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

section.delivery div.delivery img {
    position: absolute;
    top 0;
    right: 0;
}
section.delivery section.delivery {
    margin-bottom: 83px;
}


/******************************
*************Footer************
******************************/

footer {
    background-color: #00AC4E;
    padding: 34px 0;
    color: #fff;
}
footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}
footer div.footer-wrapper {
    display: flex;
    justify-content: space-between;

}
footer div.footer-left div.phones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.6px;
}
footer div.footer-left div.phone-item {
    display: flex;
    flex-direction: column;
}
footer div.footer-left div.work-email {
     display: flex;
    flex-direction: column;
}

footer div.footer-centre div.social {
    display: flex;
    flex-direction: column;
}
footer div.footer-left div.phone-item{
    margin-right: 74px;
}

footer div.footer-left div.phone-item span{
    font-size: 12.3407px;
    line-height: 32px;
}

footer div.footer-left div.phone-item a{
    font-weight: 500;
    font-size: 18.511px;
    line-height: 39px;
}
footer div.footer-left div.work-time p {
    font-size: 15.4259px;
    line-height: 32px;
    margin-bottom: 10px;
}
footer div.footer-left div.work-email a {
    font-size: 18.511px;
    line-height: 32px;
    margin-bottom: 10px;
}

footer div.footer-left div.work-email a.sitehelp {
   font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;

    text-decoration-line: underline;
}

footer div.footer-bottom {
    font-size: 12.3407px;
    line-height: 32px;
}
footer div.footer-bottom span {
    margin-right: 34px;
}
footer div.footer-bottom a {
    margin-right: 34px;
}

footer div.footer-centre div.social {
    font-weight: 500;
font-size: 15.4259px;
line-height: 32px;
letter-spacing: 3.08517px;
font-variant: small-caps;
}
footer div.footer-centre div.social a{
   padding-bottom: 24px;
}

footer div.footer-right {
    font-weight: 500;
font-size: 15.4259px;
line-height: 32px;
}
